body{
    background:#121212;
    color:white;
    font-family:Arial;
}

.box{
    background:#1e1e1e;
    padding:20px;
    margin:20px;
    border-radius:10px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid gray;
    padding:10px;
    text-align:center;
}

input{
    padding:10px;
    margin:5px;
    background:#2a2a2a;
    color:white;
    border:1px solid gray;
}

button{
    padding:10px;
    background:#00a86b;
    color:white;
    border:none;
    border-radius:5px;
}

a{
    color:#00ffff;
}