<!DOCTYPE html>
<html>

<head>

    <title>{{category}}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <div class="logo">
        Flipkart
    </div>

    <a href="/">Home</a>

    <a href="/cart">Cart</a>

</div>

<h1>{{category}}</h1>

<div class="products">

{% for item in items %}

<div class="item">

    <h2>{{item.name}}</h2>

    <h3>₹{{item.price}}</h3>

    <a href="/add-to-cart/{{item.id}}">

        <button>
            Add to Cart
        </button>

    </a>

</div>

{% endfor %}

</div>

</body>

</html>