<!DOCTYPE html>
<html>

<head>

    <title>Flipkart Clone</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <div class="logo">
        Flipkart
    </div>

    <input type="text"
           placeholder="Search for Products, Brands and More">

    <div class="menu">

        {% if user %}

        <span>

            {{user}}

        </span>

        <a href="/logout">

            Logout

        </a>

        {% else %}

        <a href="/login">

            Login

        </a>

        {% endif %}

        <a href="/cart">Cart</a>

        <a href="/wishlist">Wishlist</a>

        <a href="/buy-page">Buy</a>

    </div>

</div>

<h1 class="title">

    Fashion Store

</h1>

<div class="products">

{% for p in products %}

<div class="card">

    <img src="{{p.image}}">

    <h2>{{p.name}}</h2>

    <h3>₹{{p.price}}</h3>

    <p>{{p.category}}</p>

    <div class="buttons">

        <a href="/add-to-cart/{{p.id}}">

            <button class="cart">

                Add to Cart

            </button>

        </a>

        <a href="/wishlist/{{p.id}}">

            <button class="wish">

                Wishlist

            </button>

        </a>

        <a href="/buy/{{p.id}}">

            <button class="buy">

                Buy

            </button>

        </a>

    </div>

</div>

{% endfor %}

</div>

</body>

</html>