<!DOCTYPE html>
<html>

<head>

    <title>Flipkart Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="login-container">

    <div class="login-left">

        <h1>Login</h1>

        <p>
            Get access to your Orders,
            Wishlist and Recommendations
        </p>

    </div>

    <div class="login-right">

        <form method="POST">

            <input type="text"
                   name="mobile"
                   placeholder="Enter Mobile Number"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Enter Password"
                   required>

            <button type="submit">

                Login

            </button>

        </form>

    </div>

</div>

</body>

</html>